<div class="ng-scope">
    <div id="divLoading">
    </div>
    <div class="row">
        <style>
            .navbar-right .nav .navbar-nav > li > a, .navbar-brand {
                padding-top:4px !important;
                padding-bottom:0 !important;
                height: 40px;
            }
            .navbar-right .nav .navbar {min-height:72px !important;}
            #panel {background-color:#FFD700; margin:auto; padding-bottom:40px}
        </style>
        <nav class="navbar navbar-default" style="background-color: #FFD700; height: 50px;;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a></a>
                    <a href="/"><img src="logo.png"></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="logout()" class="btn btn-danger" style="color: white"><span class="glyphicon glyphicon-off"></span></a></li>
                    <li><a></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-sidebar">
                            <li class="active"><a href="#/home">Sensors</a></li>
                            <li><a href="#/billing">Billing</a></li>
                            <li><a href="#/contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b style="color:grey"><h4>Billing Dashboard</h4></b>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr class = "info">
                                    <th>#</th>
                                    <th>Sensor Name</th>
                                    <th>Billing Hours</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class = "success" ng-repeat="bill in billing">
                                    <td>{{$index + 1}}</td>
                                    <td>{{bill.sensor_name}}</a></td>
                                    <td>{{bill.billing_hours}} hours</td>
                                    <td>$ {{bill.billing_hours * 2}}</td>
                                </tr>
                                <tr class = "success">
                                    <td>##</td>
                                    <td>All</a></td>
                                    <td>{{total_hours}} hours</td>
                                    <td>$ {{total_price}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>