<div class="ng-scope">
    <div id="divLoading">
    </div>
    <div class="row">
        <style>
            .navbar-right .nav .navbar-nav > li > a, .navbar-brand {
                padding-top:4px !important;
                padding-bottom:0 !important;
                height: 40px;
            }
            .navbar-right .nav .navbar {min-height:72px !important;}
            #panel {background-color:#FFD700; margin:auto; padding-bottom:40px}
        </style>
        <nav class="navbar navbar-default" style="background-color: #FFD700; height: 50px;;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a></a>
                    <a href="/"><img src="logo.png"></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./signup" class="btn btn-danger" style="color: white"><span class="glyphicon glyphicon-off"></span></a></li>
                    <li><a></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-sidebar">
                            <li class="active"><a href="#/home">Sensors</a></li>
                            <li><a href="#/billing">Billing</a></li>
                            <li><a href="#/contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b style="color:grey"><h4>Sensor Dashboard</h4></b>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create New Sensor</button>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">New Sensor</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="well">
                                                    <form class="form-horizontal">
                                                        <fieldset>
                                                            <div class="form-group">
                                                                <label class="col-lg-2 control-label">Name&nbsp&nbsp&nbsp&nbsp</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" ng-model="name" class="form-control" placeholder="Sensor name">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-lg-2 control-label">Latitude</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" ng-model="latitude" class="form-control" placeholder="Latitude">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-lg-2 control-label">Latitude</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" ng-model="longitude" class="form-control" placeholder="Longitude">
                                                                </div>
                                                            </div>
                                                            <div class="form-group" align="center">
                                                                <div ng-hide="spinner" class="wrap">
                                                                    <div class="loader"></div>
                                                                    <div class="loaderbefore"></div>
                                                                    <div class="circular"></div>
                                                                    <div class="circular another"></div>
                                                                    <div class="text">Loading</div>
                                                                </div>
                                                                <h5><b style="color: grey">or Select co-ordinates in Map</b></h5>
                                                                <button class="btn btn-info" ng-click="changeLatLng()" >Map It</button>
                                                                <br>
                                                                <div id="googleMap2" style="width:800px;height:680px;"></div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-info" ng-click="createNewSensor()">CREATE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b style="color:grey"><h4>My Sensors</h4></b>
                        <div ng-hide="!hideSensorTable">
                            <mark>You have no sensors created</mark>
                        </div>
                        <div class="table-responsive" ng-hide="hideSensorTable">
                            <table class="table table-striped">
                                <thead>
                                <tr class = "info">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Latitude</th>
                                    <th>longitude</th>
                                    <th>Status</th>
                                    <th>Created Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class = "success" ng-repeat="sensor in sensors">
                                    <td>{{$index + 1}}</td>
                                    <td><a href="/home/sensor/{{sensor.id}}">{{sensor.userid}}</a></td>
                                    <td>{{sensor.latitude}}</td>
                                    <td>{{sensor.longitude}}</td>
                                    <td>{{sensor.state}}</td>
                                    <td>{{sensor.timecreated}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <b style="color:grey"><h4>Sensor Map</h4></b>
                        <div id="googleMap" style="width:950px;height:800px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>